<configuration>
    <dllmap os="osx" dll="sqlite3.dll" target="libsqlite3.0.dylib" />
    <dllmap os="freebsd" cpu="x86-64,ia64" dll="sqlite3.dll" target="libsqlite3-x86_64-freebsd.so" />
    <dllmap os="freebsd" cpu="x86-64,ia64" dll="sqlite3-x86_64.dll" target="libsqlite3-x86_64-freebsd.so" />
    <dllmap os="freebsd" cpu="x86" dll="sqlite3.dll" target="libsqlite3-freebsd.so" />
    <dllmap os="freebsd" cpu="x86" dll="sqlite3-x86_64.dll" target="libsqlite3-freebsd.so" />
    <dllmap os="!windows,osx,freebsd" cpu="x86-64,ia64" dll="sqlite3.dll" target="libsqlite3-x86_64.so" />
    <dllmap os="!windows,osx,freebsd" cpu="x86-64,ia64" dll="sqlite3-x86_64.dll" target="libsqlite3-x86_64.so" />
    <dllmap os="!windows,osx,freebsd" cpu="x86" dll="sqlite3.dll" target="libsqlite3.so" />
    <dllmap os="!windows,osx,freebsd" cpu="x86" dll="sqlite3-x86_64.dll" target="libsqlite3.so" />
    <dllmap os="!windows,osx,freebsd" cpu="arm" dll="sqlite3.dll" target="libsqlite3-arm.so" />
</configuration>
