<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="7.0.6" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="Magick.NET-Q16-HDRI-AnyCPU" version="7.0.2.100" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="NTextCat" version="0.2.1.30" targetFramework="net451" />
  <package id="Syn.Bot" version="1.2.3" targetFramework="net451" />
  <package id="TweetSharp" version="2.3.1" targetFramework="net451" />
</packages>