<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs" />
    </assemblyBinding>
    <!-- 
        You can enable only one of these settings by commenting them out.
        As a quick rule: server garbage collection uses up more memory
        in favor of less CPU consuption and concurrent garbage collection 
        uses up more CPU in favour of memory consuption.
        
        The default is to let the runtime pick a good choice for the machine.
    -->
    <!--
      <gcConcurrent enabled="false"/>
      <gcServer enabled="true"/>
    -->
  </runtime>
  <userSettings>
    <Configurator.Properties.Settings>
      <setting name="ExperienceLevel" serializeAs="String">
        <value>Basic</value>
      </setting>
    </Configurator.Properties.Settings>
  </userSettings>
</configuration>